.mycircle {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	font-size: 28px;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
	/* width and height can be anything, as long as they're equal */
}

.myBIGcircle {
	border-radius: 50%;
	width: 500px;
	height: 500px; 
	font-size: 28px;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
	display: inline-block;
	cursor:pointer;
	/* width and height can be anything, as long as they're equal */
}

.teal{
	background-color:#39DBAC;
}


.blue{
	background-color:#0D8FDB;
}